# Copie este arquivo como database.properties e preencha com seus dados locais
# cp database.properties.example database.properties

DB_URL=jdbc:postgresql://localhost:5432/nome_do_banco
DB_USUARIO=seu_usuario
DB_SENHA=sua_senha
